textarea {
    border: none;
    width:50%;
    text-transform: capitalize;
    padding-left:20px;
    resize: vertical;
    padding-top: 10px;
    border-radius: 5px;
    height: 40px;
}

.area-container {
    margin-bottom: 20px;
}